@use "../setting/setting";

.p-contact {
  padding: 40px 0;
  border-top: 1px solid #dadada;
}

.p-contact__body {
  max-width: 620px;
  margin: 0 auto;
}

.p-contact__form {
  background: #fafafa;
  padding: 0 12px 24px;
}

.p-contact__lead {
  p {
    margin-bottom: 12px;
  }
}

@media (min-width: 768px) {
  .p-contact {
    padding: 64px 0;
  }

  .p-contact__form {
    margin-top: 40px;
    padding: 20px 32px 60px;
  }
}

.p-contact__tel {
  text-align: center;
  line-height: 1.4;
  background: #f7f7f7;
  padding: 24px 0;
  margin-top: 32px;
  margin-bottom: 40px;

  a {
    display: inline-block;
    font-size: 32px;
    letter-spacing: 1px;
    position: relative;

    small {
      font-size: 18px;
      text-transform: uppercase;
    }
  }

  span {
    font-size: 14px;
    display: block;
    padding-top: 8px;
  }
}
